# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [1]:
import os
import glob
import psycopg2
import pandas as pd
import numpy as np
from sql_queries import *

In [2]:
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
cur = conn.cursor()

In [3]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

def run_insert(insert_query, data):
    try:
        cur.execute(insert_query, data)
        conn.commit()
    except psycopg2.Error as e: 
        print("Error: Query: ", insert_query, "\nRows for data: ", data)
        print (e)
        raise e

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [4]:
song_files = get_files("./data/song_data")

In [5]:
def load_songs_to_db_from_dataframe(song_data_df):
    song_data = song_data_df[["song_id", "title", "artist_id", "year", "duration"]]
    for i, row in song_data.iterrows():
        run_insert(song_table_insert, row)
        
def load_artists_to_db_from_dataframe(song_data_df):
    artist_data = song_data_df[["artist_id", "artist_name", "artist_location", "artist_latitude", "artist_longitude"]]
    for i, row in artist_data.iterrows():
        run_insert(artist_table_insert, row)

def load_artists_and_songs_from_file(file):
    song_data_df = pd.read_json(file, lines=True)
    load_songs_to_db_from_dataframe(song_data_df)
    load_artists_to_db_from_dataframe(song_data_df)

In [6]:
for file in song_files:
    load_artists_and_songs_from_file(file)

In [7]:
filepath = song_files[0]

In [8]:
song_data_df = pd.read_json(filepath, lines=True)
song_data_df

,num_songs,artist_id,artist_latitude,artist_longitude,artist_location,artist_name,song_id,title,duration,year
0,1,ARD7TVE1187B99BFB1,NaN,NaN,California - LA,Casual,SOMZWCG12A8C13C480,I Didn't Mean To,218.93179,0

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [54]:
# song_id, title, artist_id, duration
song_data = song_data_df[["song_id", "title", "artist_id", "year", "duration"]]
song_data
#song_data = song_data.values[0]
#song_data = list(song_data)
#song_data

              song_id             title           artist_id  year   duration
0  SOMZWCG12A8C13C480  I Didn't Mean To  ARD7TVE1187B99BFB1     0  218.93179

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [37]:
for i, row in song_data_df.iterrows():
    cur.execute(song_table_insert, row)
    conn.commit()

TypeError: not all arguments converted during string formatting

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

In [29]:
# artist_id, artist_name, artist_location, artist_latitude, artist_longitude
artist_data = song_data_df[["artist_id", "artist_name", "artist_location", "artist_latitude", "artist_longitude"]]
artist_data = artist_data.values[0]
artist_data = list(artist_data)
artist_data

['ARD7TVE1187B99BFB1', 'Casual', 'California - LA', nan, nan]

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

In [10]:
cur.execute(artist_table_insert, artist_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [9]:
log_files = get_files("./data/log_data")

In [10]:
def timestamp_to_row(timestamp):
    dt = pd.to_datetime(timestamp,unit='ms')
    return (dt, dt.hour, dt.day, dt.week, dt.month, dt.year, dt.weekday())

def load_time_to_db_from_dataframe(log_data_df):
    df_time = log_data_df[log_data_df["page"] == "NextSong"] 
    column_labels = ('start_time','hour','day','week','month','year','weekday')
    time_data = list(df_time['ts'].apply(timestamp_to_row))
    time_df = pd.DataFrame(time_data, columns=column_labels)
    for i, row in time_df.iterrows():
        run_insert(time_table_insert, list(row))
        
def load_user_to_db_from_dataframe(log_data_df):
    user_df = log_data_df[["userId", "firstName", "lastName", "gender", "level"]]
    for i, row in user_df.iterrows():
        run_insert(user_table_insert, row)
        
def load_songplay_from_logdata_dataframe(log_data_df):
    for index, row in log_data_df.iterrows():
        # get songid and artistid from song and artist tables
        cur.execute(song_select, (row.song, row.artist, row.length))
        results = cur.fetchone()

        if results:
            songid, artistid = results
        else:
            songid, artistid = None, None
        # insert songplay record
        # start_time, user_id, level, song_id, artist_id, session_id, location, user_agent
        ts = pd.to_datetime(row.ts, unit='ms')
        songplay_data = (ts, row.userId, row.level, songid, artistid, row.sessionId, row.location, row.userAgent)
        cur.execute(songplay_table_insert, songplay_data)
        conn.commit()
        
def log_file_to_sanitized_dataframe(file):
    log_data_df = pd.read_json(file, lines=True)
    log_data_df['userId'].replace('', np.nan, inplace=True)
    log_data_df = log_data_df[log_data_df.userId.notnull()]
    return log_data_df

def process_log_files(log_files):
    for file in log_files:
        log_data_df = log_file_to_sanitized_dataframe(file)
        load_time_to_db_from_dataframe(log_data_df)
        load_user_to_db_from_dataframe(log_data_df)
        load_songplay_from_logdata_dataframe(log_data_df)

In [11]:
process_log_files(log_files)

In [7]:
filepath = log_files[0]

In [8]:
log_data_df = pd.read_json(filepath, lines=True)
log_data_df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,None,Logged In,Walter,M,0,Frye,NaN,free,"San Francisco-Oakland-Hayward, CA",GET,Home,1540919166796,38,None,200,1541105830796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",39
1,None,Logged In,Kaylee,F,0,Summers,NaN,free,"Phoenix-Mesa-Scottsdale, AZ",GET,Home,1540344794796,139,None,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
2,Des'ree,Logged In,Kaylee,F,1,Summers,246.30812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,You Gotta Be,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
3,None,Logged In,Kaylee,F,2,Summers,NaN,free,"Phoenix-Mesa-Scottsdale, AZ",GET,Upgrade,1540344794796,139,None,200,1541106132796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
4,Mr Oizo,Logged In,Kaylee,F,3,Summers,144.03873,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Flat 55,200,1541106352796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [9]:
df_time = log_data_df[log_data_df["page"] == "NextSong"] 
df_time.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
2,Des'ree,Logged In,Kaylee,F,1,Summers,246.30812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,You Gotta Be,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
4,Mr Oizo,Logged In,Kaylee,F,3,Summers,144.03873,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Flat 55,200,1541106352796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
5,Tamba Trio,Logged In,Kaylee,F,4,Summers,177.18812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Quem Quiser Encontrar O Amor,200,1541106496796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
6,The Mars Volta,Logged In,Kaylee,F,5,Summers,380.42077,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Eriatarka,200,1541106673796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
7,Infected Mushroom,Logged In,Kaylee,F,6,Summers,440.26730,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Becoming Insane,200,1541107053796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8

In [10]:
t = pd.to_datetime(df_time['ts'],unit='ms')
t.head()

2   2018-11-01 21:01:46.796
4   2018-11-01 21:05:52.796
5   2018-11-01 21:08:16.796
6   2018-11-01 21:11:13.796
7   2018-11-01 21:17:33.796
Name: ts, dtype: datetime64[ns]

In [11]:
#  timestamp, hour, day, week of year, month, year, and weekday 
# or per schema: start_time, hour, day, week, month, year, weekday
column_labels = ('start_time','hour','day','week','month','year','weekday')
def timestamp_to_row(timestamp):
    dt = pd.to_datetime(timestamp,unit='ms')
    return (dt, dt.hour, dt.day, dt.week, dt.month, dt.year, dt.weekday())
time_data = list(df_time['ts'].apply(timestamp_to_row))

In [9]:
time_df = pd.DataFrame(time_data, columns=column_labels)
time_df.head()

NameError: name 'time_data' is not defined

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [13]:
for i, row in time_df.iterrows():
    cur.execute(time_table_insert, list(row))
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

In [14]:
user_df = log_data_df[["userId", "firstName", "lastName", "gender", "level"]]
user_df

    userId firstName lastName gender level
0       39    Walter     Frye      M  free
1        8    Kaylee  Summers      F  free
2        8    Kaylee  Summers      F  free
3        8    Kaylee  Summers      F  free
4        8    Kaylee  Summers      F  free
5        8    Kaylee  Summers      F  free
6        8    Kaylee  Summers      F  free
7        8    Kaylee  Summers      F  free
8        8    Kaylee  Summers      F  free
9        8    Kaylee  Summers      F  free
10      10    Sylvie     Cruz      F  free
11      26      Ryan    Smith      M  free
12      26      Ryan    Smith      M  free
13      26      Ryan    Smith      M  free
14     101    Jayden      Fox      M  free

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [15]:
for i, row in user_df.iterrows():
    cur.execute(user_table_insert, row)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

In [16]:
for index, row in log_data_df.iterrows():
    print(row.song, ",", row.artist,",", row.length)

None , None , nan
None , None , nan
You Gotta Be , Des'ree , 246.30812
None , None , nan
Flat 55 , Mr Oizo , 144.03873
Quem Quiser Encontrar O Amor , Tamba Trio , 177.18812
Eriatarka , The Mars Volta , 380.42077
Becoming Insane , Infected Mushroom , 440.2673
Congratulations , Blue October / Imogen Heap , 241.3971
Once again , Girl Talk , 160.15628
Pump It , Black Eyed Peas , 214.93506
None , None , nan
Nobody Puts Baby In The Corner , Fall Out Boy , 200.72444
Mango Pickle Down River (With The Wilcannia Mob) , M.I.A. , 233.7171
Eye Of The Tiger , Survivor , 245.36771

## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [32]:
def insert_songplay_from_logdata_dataframe(log_data_df):
    for index, row in log_data_df.iterrows():

        # get songid and artistid from song and artist tables
        cur.execute(song_select, (row.song, row.artist, row.length))
        results = cur.fetchone()

        if results:
            songid, artistid = results
            print(results, " : ", row.artist, " : ", row.song, row.length)
        else:
            songid, artistid = None, None
        # insert songplay record
        songplay_data = ()
        #cur.execute(songplay_table_insert, songplay_data)
        #conn.commit()

None  :  Stephen Lynch  :  Jim Henson's Dead
None  :  Manowar  :  Shell Shock
None  :  Morcheeba  :  Women Lose Weight (Feat: Slick Rick)
None  :  Maroon 5  :  Won't Go Home Without You
None  :  Train  :  Hey_ Soul Sister
None  :  LMFAO  :  I'm In Miami Bitch
None  :  DJ Dizzy  :  Sexy Bitch
None  :  Fish Go Deep & Tracey K  :  The Cure & The Cause (Dennis Ferrer Remix)
None  :  None  :  None
None  :  M83  :  Staring At Me
None  :  Saybia  :  The Second You Sleep
None  :  Local Natives  :  Wide Eyes
None  :  South Park  :  La Resistance (Medley) (LP Version)
None  :  UNKLE Feat. Josh Homme  :  Restless
None  :  Justyna Steczkowska  :  Noc...
None  :  Evanescence  :  Like You
None  :  Coldplay  :  God Put A Smile Upon Your Face
None  :  Hot Chip  :  Playboy
None  :  Ellie Goulding  :  Every Time You Go
None  :  Postal Service  :  Natural Anthem (Album)
None  :  None  :  None
None  :  None  :  None
None  :  Jack Johnson  :  Taylor
None  :  Iron And Wine  :  Naked As We Can
None  :  The xx  :  Fantasy
None  :  The Antlers  :  Epilogue
None  :  Fattburger  :  Groovin'
None  :  None  :  None
None  :  None  :  None
None  :  Chris Brown  :  Ain't No Way (You Won't Love Me)
None  :  Phoenix  :  Rome
None  :  None  :  None
None  :  Jim Lauderdale/Ralph Stanley & The Clinch Mountain Boys  :  Highway Through My Home
None  :  None  :  None
None  :  Musiq  :  143
None  :  Cass McCombs feat. Karen Black  :  Dreams-Come-True-Girl
None  :  None  :  None
None  :  Scissor Sisters  :  I Don't Feel Like Dancin'
None  :  O.A.R.  :  Right On Time (Album Version)
None  :  1 Mile North  :  Black Lines
None  :  Muse  :  Uprising
None  :  USS (Ubiquitous Synergy Seeker)  :  Man Makes The Zoo
None  :  The Psychedelic Furs  :  Blacks/Radio
None  :  EsmÃÂ©e Denters / Justin Timberlake  :  Love Dealer (Featuring Justin Timberlake)
None  :  Alliance Ethnik  :  ReprÃÂ©sente
None  :  Train  :  Hey_ Soul Sister
None  :  None  :  None
None  :  Hoobastank  :  Up And Gone
None  :  None  :  None
None  :  Ismael Serrano  :  Te Conoci
None  :  The Pussycat Dolls / Snoop Dogg  :  Bottle Pop
None  :  Dierks Bentley  :  My Love Will Follow You
None  :  59 Times the Pain  :  Found Home
None  :  Linkin Park  :  My December
None  :  New Order  :  The Perfect Kiss
None  :  Madeleine Peyroux  :  You're Gonna Make Me Lonesome When You Go
None  :  Bow Wow feat. Chris Brown and JohntÃÂ¡ Austin  :  Shortie Like Mine
None  :  Symphony X  :  Domination
None  :  Minnie Riperton  :  Inside My Love (Digitally Remastered 93)
None  :  Custom Blue  :  Structure
None  :  Rage Against The Machine  :  Killing In The Name
None  :  Milli Vanilli  :  Girl You Know It's True
None  :  David Arkenstone  :  Waterfall (Spirit Of The Rainforest Album Version)
None  :  Cosmo Vitelli  :  Robot Soul (Radio Edit)
None  :  Morcheeba  :  Blindfold
None  :  Jason Mraz  :  I'm Yours (Album Version)
None  :  None  :  None
None  :  None  :  None
None  :  Deep Dish  :  Say Hello
None  :  Cutting Crew  :  (I Just) Died In Your Arms
None  :  The Velvet Underground  :  Sweet Jane
None  :  Future Rock  :  Gears
None  :  The White Stripes  :  Seven Nation Army (Album Version)
None  :  Coldplay  :  Fix You
None  :  Portishead  :  It Could Be Sweet
None  :  Thelma Houston  :  If This Was The Last Song
None  :  Chicane  :  Poppiholla
None  :  None  :  None
None  :  Metallica  :  The Unforgiven III
None  :  Jennifer Lopez  :  Apresurate
None  :  Box Car Racer  :  There Is
None  :  Robin Thicke  :  Would That Make U Love Me
None  :  Dashboard Confessional  :  Screaming Infidelities
None  :  Radney Foster  :  Big Idea
None  :  None  :  None
None  :  La Roux  :  Bulletproof
None  :  Wax Tailor  :  The Tune
None  :  Kings Of Leon  :  Trani
None  :  Kix  :  Girl Money
None  :  Mother Love Bone  :  Chloe Dancer/Crown Of Thorns
None  :  The Decemberists  :  The Bachelor and the Bride
None  :  Telefon Tel Aviv  :  M
None  :  B.o.B  :  Nothin' On You [feat. Bruno Mars] (Album Version)
None  :  Amy Winehouse  :  You Sent Me Flying / Cherry
None  :  None  :  None
None  :  BEFORE THE DAWN  :  Faithless
None  :  The Strokes  :  You Only Live Once
None  :  Animals As Leaders  :  Tempting Time
None  :  Mazzy Star  :  Flowers In December
None  :  Cream  :  Take It Back
None  :  MÃÂºm  :  Behind Two Hills&A Swimming Pool
None  :  3OH!3  :  My First Kiss (Feat. Ke$ha) [Album Version]
None  :  N.W.A.  :  Straight Outta Compton (Extended Mix) (Edit) (Explicit)
None  :  Dan Auerbach  :  Goin' Home
None  :  Lagwagon  :  Sick
None  :  None  :  None
None  :  Coldplay  :  Fix You
None  :  John Mayer  :  Half Of My Heart
None  :  Kings Of Leon  :  Revelry
None  :  Ashbury Heights  :  World Coming Down
None  :  Scooter  :  Fire
None  :  Boy Kill Boy  :  Shoot Me Down
None  :  Eric B. & Rakim  :  Juice (Know The Ledge)
None  :  Josh Groban  :  Hymne A L'Amour (Album Version)
None  :  Bad Religion  :  We're Only Gonna Die (Album Version)
None  :  Tempa T  :  Next Hype
None  :  Charttraxx Karaoke  :  Fireflies
None  :  Eagles  :  Hotel California
None  :  Eric Clapton  :  Little Wing
None  :  Spineshank  :  Smothered (Album Version)
None  :  Kaiser Chiefs  :  Try Your Best
None  :  Dominique A  :  Le Courage Des Oiseaux
None  :  Kill Hannah  :  Lips Like Morphine (Album Version)
None  :  I:gor  :  Kiedys zrozumiesz
None  :  The All-American Rejects  :  Fallin' Apart
None  :  Guns N' Roses  :  Don't Cry (Original)
None  :  White Denim  :  Transparency
None  :  El Canto del Loco  :  La Suerte De Mi Vida
None  :  Grinderswitch  :  Redwing
None  :  Donovan  :  Starfish-On-The-Toast (2008 Digital Remaster)
None  :  As I Lay Dying  :  Illusions
None  :  None  :  None
None  :  matchbox twenty  :  Bright Lights (Remastered Version)
None  :  Kinky  :  Field Goal
None  :  Shania Twain  :  Nah!
None  :  Hinder  :  By The Way
None  :  The Spencer Davis Group  :  Keep On Running
None  :  SOJA  :  I Dont Wanna Wait
None  :  Infected Mushroom  :  Echonomix
None  :  Unkle Bob  :  One By One
None  :  None  :  None
None  :  None  :  None
None  :  Alex Ubago  :  Sin Miedo a Nada (con Amaia Montero)
None  :  The Twilight Singers  :  Bonnie Brae
None  :  Chikita Violenta  :  War
None  :  Cat Stevens  :  Sad Lisa
None  :  Kenny Garrett  :  The House That Nat Built (Album Version)
None  :  You Me At Six  :  Jealous Minds Think Alike
None  :  Nellie Lutcher  :  My Mother's Eyes
None  :  Kid Cudi / Kanye West / Common  :  Make Her Say
None  :  Tiro De Gracia  :  Viaje Sin Rumbo (2004 Digital Remaster)
None  :  polarkreis 18  :  Dreamdancer
None  :  + / - {Plus/Minus}  :  The Queen of Nothing
None  :  Dr Feelgood  :  Riot In Cell Block Number Nine
None  :  Harmonia  :  Sehr kosmisch
None  :  Chimaira  :  Everything You Love (Album Version)
None  :  Joshua Radin  :  Someone Else's Life
None  :  Bajaga & Instruktori  :  Godine prolaze
None  :  The Virgins  :  Private Affair (Amended Album Version)
None  :  SA Rawls / Still Flyin' / Still Flyin'  :  Ginko Biloba
None  :  Grown Ups  :  Three Day Weekend
None  :  Nancy Ajram  :  Meen Dah Elly Nseik
None  :  None  :  None
None  :  The Donkeys  :  Boot On The Seat
None  :  Datarock  :  FaFaFa (Radio Edit)
None  :  Daft Punk  :  Human After All
None  :  None  :  None
None  :  Justin Bieber  :  Somebody To Love
None  :  Beach House  :  Real Love
None  :  The Walkmen  :  Subterranean Homesick Blues (Album Version)
None  :  Busted / Charlie Simpson / Mattie Jay / James Bourne  :  Can't Break Thru
None  :  BeyoncÃÂ©  :  Get Me Bodied
None  :  None  :  None
None  :  Sick Puppies  :  Maybe
None  :  U2  :  Walk To The Water
None  :  Ron Carter  :  I CAN'T GET STARTED
None  :  Duran Duran  :  Breath After Breath
None  :  Tears For Fears  :  Head Over Heels
None  :  None  :  None
None  :  Foo Fighters  :  Lonely As You
None  :  Yellowcard  :  One Year_ Six Months
None  :  Big Tymers  :  Against The Wall
None  :  None  :  None
None  :  Enigma  :  Knocking On Forbidden Doors
None  :  Dennis Ferrer  :  Hey Hey
None  :  Justin Bieber  :  Somebody To Love
None  :  Markus KrunegÃÂ¥rd  :  Genom tunna tyger
None  :  Linkin Park  :  The Little Things Give You Away [Live At Milton Keynes]
None  :  Jamie Cullum  :  Devil May Care
None  :  None  :  None
None  :  None  :  None
None  :  Every Avenue  :  Tell Me I'm A Wreck
None  :  Jack Johnson  :  Constellations
None  :  Shakira  :  Vuelve
None  :  The Maine  :  Give Me Anything
None  :  Cannibal Corpse  :  Worm Infested
None  :  None  :  None
None  :  Arcade Fire  :  Headlights Look Like Diamonds
None  :  Black Eyed Peas  :  Hands Up
None  :  Radney Foster  :  Sweet And Wild
None  :  Metric  :  Satellite Mind
None  :  Dwight Yoakam  :  You're The One
None  :  Jason Mraz  :  Did You Get My Message? (Live From Montalvo)
None  :  Kutt Calhoun  :  N A Whitemanzeyez
None  :  Radiohead  :  Karma Police
None  :  Molotov  :  Puto
None  :  None  :  None
None  :  The Strokes  :  Killing Lies
None  :  Rufus Wainwright  :  Hallelujah
None  :  Deadmau5  :  Ghosts 'n' Stuff (Original Instrumental Mix)
None  :  John Farnham  :  You're The Voice
None  :  Infant Sorrow  :  Inside Of You
None  :  Betty Wright  :  Clean Up Woman (Single/LP Version)
None  :  Guus Meeuwis  :  Tranen Gelachen
None  :  Muse  :  The Small Print
None  :  Estrella Morente  :  A QuÃÂ© Niegas El Delirio (MalagueÃÂ±a) (Live)
None  :  Dr. Alban  :  It's My Life (Radio Edit)
None  :  Radiohead  :  Sit Down. Stand Up
None  :  Mondo Marcio  :  Purple Weed
None  :  Mae  :  Someone Else's Arms
None  :  Meat Loaf / Jennifer Hudson  :  The Future Ain't What It Used To Be
None  :  Vampire Weekend  :  A-Punk (Album)
None  :  MGMT  :  Time To Pretend
None  :  Federico Aubele  :  Luna y Sol
None  :  Jesse Rose  :  Touch My Horn
None  :  Orion  :  Eternity
None  :  None  :  None
None  :  None  :  None
None  :  Circa Survive  :  Dyed in the Wool (Album Version)
None  :  Wretch 32_ Vis  :  Wretchrospective (feat. Vis)
None  :  Simian Mobile Disco  :  Simple
None  :  ErdmÃÂ¶bel  :  Riecht wie Teen Spirit (Smells Like Teen Spirit)
None  :  Eisbrecher  :  Adrenalin
None  :  Ryan Bingham  :  Bread & Water

None  :  Ashanti  :  VooDoo
None  :  Barry Tuckwell/Academy of St Martin-in-the-Fields/Sir Neville Marriner  :  Horn Concerto No. 4 in E flat K495: II. Romance (Andante cantabile)
None  :  Clint Eastwood  :  Frankie's Office
None  :  Charttraxx Karaoke  :  Fireflies
None  :  Jason Mraz  :  Summer Breeze
None  :  The B-52's  :  Love Shack
None  :  Aventura  :  Alexandra
None  :  Five Iron Frenzy  :  Canada
None  :  12 Stones  :  Anthem For The Underdog
None  :  Kings Of Leon  :  Revelry
None  :  Brooklyn Bounce  :  Get Ready To Bounce Recall 08
None  :  Dashboard Confessional  :  The Good Fight
None  :  None  :  None
None  :  Lonnie Johnson  :  Low Land Moan
None  :  None  :  None
None  :  Leggo Beast  :  In
None  :  The Pussycat Dolls  :  Sway
None  :  Stereophonics  :  I Miss You Now
None  :  The Beautiful South  :  Masculine Eclipse
None  :  The Acacia Strain  :  As If Set Afire
None  :  ATB  :  Underwater World
None  :  The Robert Cray Band  :  Our Last Time
None  :  Enigma  :  T.N.T. For The Brain (112 Bpm) (Radio Edit)
None  :  Amon Amarth  :  Tattered Banners And Bloody Flags
None  :  We Are Scientists  :  The Great Escape (Album Version) (Explicit)
None  :  Roberto Murolo  :  Lacreme napulitane
None  :  Ashlee Simpson  :  Autobiography
None  :  Metallica  :  The Ecstasy Of Gold
None  :  3 Doors Down  :  Kryptonite
None  :  Hazell Dean  :  No Fool (For Love)
None  :  Apocalyptica  :  Pray
None  :  Jack Johnson  :  Bubble Toes
None  :  Cage The Elephant  :  Lotus
None  :  Taylor Swift  :  You Belong With Me
None  :  None  :  None
None  :  Soul For Real  :  Candy Rain
None  :  The Prodigy  :  Firestarter
None  :  Amy Winehouse  :  Addicted
None  :  None  :  None
None  :  Iron Maiden  :  The Evil That Men Do (1998 Digital Remaster)
None  :  David Crowder*Band  :  All Around Me
None  :  The Cinematic Orchestra  :  Everyday
None  :  Three 6 Mafia vs. TiÃÂ«sto with Sean Kingston and Flo Rida  :  Feel It
None  :  Sugababes  :  Overload
None  :  Gyptian  :  Hold You
None  :  Zion / Akon  :  The Way She Moves
None  :  Transvision Vamp  :  I Want Your Love
None  :  Ry Cooder  :  Corrido de Boxeo
None  :  The Pussycat Dolls  :  When I Grow Up
None  :  Coldplay  :  Yellow
None  :  Forever The Sickest Kids  :  She Likes (Bittersweet Love)
None  :  Lil Wayne / Blaque / Mannie Fresh  :  Believe That
None  :  Dragonforce  :  Through The Fire And Flames (Album Version)
None  :  Jason Mraz & Colbie Caillat  :  Lucky (Album Version)
None  :  Pixies  :  Is She Weird
None  :  Eminem  :  Without Me
None  :  Buju Banton  :  Cry No More
None  :  Cage The Elephant  :  Lotus
None  :  Barry Tuckwell/Academy of St Martin-in-the-Fields/Sir Neville Marriner  :  Horn Concerto No. 4 in E flat K495: II. Romance (Andante cantabile)
None  :  Ste Strausz  :  Le Million
None  :  Coldplay  :  Only Superstition
None  :  Joe Christmas  :  Bedroom Suite
None  :  Bright Eyes  :  A New Arrangement
None  :  Paramore  :  The Only Exception (Album Version)
None  :  J. Karjalainen & Mustat Lasit  :  Sinisten tÃÂ¤htien alla
None  :  None  :  None
None  :  Philip Glass  :  Knee 2
None  :  Alliance Ethnik  :  SinceritÃÂ© Et Jalousie
None  :  Mew  :  Her Voice Is Beyond Her Years
None  :  None  :  None
None  :  Ive Mendes  :  If You Leave Me Now
None  :  None  :  None
None  :  Alliance Ethnik  :  SinceritÃÂ© Et Jalousie
None  :  the bird and the bee  :  Diamond Dave
None  :  Common / Sadat X  :  1999
None  :  None  :  None
None  :  None  :  None
None  :  Alanis Morissette  :  King Of Pain (Live/Unplugged Version)
None  :  None  :  None
None  :  None  :  None
None  :  Skillet  :  Rebirthing (Album Version)
None  :  None  :  None
None  :  James Galway;Julian Lee  :  Beauty and the Beast
None  :  Drop Dead_ Gorgeous  :  Dressed For Friend Requests (Album Version)
None  :  Dwight Yoakam  :  You're The One
None  :  Trouble  :  Tuesday's Child
None  :  None  :  None
None  :  OneRepublic  :  All The Right Moves
None  :  Switchblade Symphony  :  Wicked
None  :  Sharooz  :  My Distressor 40Khz ReRub Mix
None  :  Explosions In The Sky  :  Six Days At The Bottom Of The Ocean
None  :  None  :  None
None  :  Emmylou Harris  :  Little Bird
None  :  Jack Johnson  :  The Horizon Has Been Defeated
None  :  Radiohead  :  Everything In Its Right Place
None  :  Andrew Bird  :  Heretics
None  :  Metallica  :  Sabbra Cadabra
None  :  Lonnie Gordon  :  Catch You Baby (Steve Pitron & Max Sanna Radio Edit)
None  :  Dropkick Murphys  :  Shattered
None  :  Eric B. & Rakim  :  As The Rhyme Goes On
None  :  Dierks Bentley  :  Settle For A Slowdown
None  :  Regina Spektor  :  Daniel Cowman
None  :  Angelspit  :  Make You Sin
None  :  Young Gunz / Beanie Sigel  :  Roc U
None  :  DJ Dizzy  :  Sexy Bitch
None  :  Base Ball Bear  :  Sayonara-Nostalgia
None  :  Morcheeba  :  In The Hands Of The Gods (Featuring Biz Markie)
None  :  Bitter:Sweet  :  Don't Forget To Breathe
None  :  Basshunter Feat. DJ Mental Theos Bazzheadz  :  Now You're Gone
None  :  BjÃÂ¶rk  :  Undo
None  :  Rihanna  :  G4L
None  :  Evanescence  :  Hello
None  :  Mr. Vegas  :  Tamale
None  :  Mischa Daniels  :  Another Place
None  :  The Menzingers  :  Straight To Hell
None  :  Justin Timberlake  :  Cry Me A River
None  :  Vilma Palma e Vampiros  :  Un Camino Hasta Vos
None  :  CCCP - Fedeli Alla Linea  :  Sura (2008 Digital Remaster)
None  :  Kid Cudi / MGMT / Ratatat  :  Pursuit Of Happiness (nightmare)
None  :  Drake / Kanye West / Lil Wayne / Eminem  :  Forever
None  :  A Day To Remember  :  Homesick [Acoustic]
None  :  T.I.  :  Dead And Gone [feat. Justin Timberlake] (Explicit Album Version)
None  :  The Offspring  :  It'll Be a Long Time (Album Version)
None  :  Jorge Gonzalez  :  Esta Es Para Hacerte FÃÂ©liz
None  :  Sneaker Pimps  :  Spin Spin Sugar
None  :  Escape The Fate  :  This War Is Ours (The Guillotine II)
None  :  Juanes  :  La Vida Es Un Ratico
None  :  The Replacements  :  Never Mind
None  :  Sarah McLachlan  :  Possession
None  :  Sonny Boy Williamson  :  Don't Start Me Talkin'
None  :  Soul II Soul Featuring Caron Wheeler  :  Back To Life (However Do You Want Me) (2003 Digital Remaster) (Feat. Caron Wheeler)
None  :  Florence + The Machine  :  Dog Days Are Over (Radio Edit)
None  :  Pantera  :  Heresy  (LP Version)
None  :  None  :  None
None  :  Cold  :  Remedy
None  :  Norther  :  Frozen Angel
None  :  Foo Fighters  :  The Pretender
None  :  Timbiriche  :  Besos De Ceniza
None  :  A Perfect Circle  :  Rose
None  :  Anberlin  :  The Haunting
None  :  None  :  None
None  :  Deas Vail  :  Anything You Say (Unreleased Version)

Run `test.ipynb` to see if you've successfully added records to this table.

# Close Connection to Sparkify Database

In [213]:
conn.close()

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.